<p style="font-size: 33px; font-weight: 700; margin-bottom: 3rem">데이터 구조(Data Structure)</p>

데이터 구조(Data Structure) 혹은 자료구조란 데이터에 효율적인 접근 및 수정을 가능케 하는 데이터의 구성, 관리 및 저장형식을 의미합니다.

보다 정확하게는 데이터 값들, 해당 값들의 관계, 그리고 해당 데이터들에게 적용할 수 있는 함수와 명령어들의 모음을 총칭하는 단어입니다.


**<데이터의 분류>**
- 순서가 있는 데이터 구조(Orderd)
    - 문자열
    - 리스트
    - 튜플
- 순서가 없는 데이터 구조(Unorderd)
    - 셋(Set)
    - 딕셔너리(Dictionary)


<img src="https://user-images.githubusercontent.com/90173310/148184923-9b2910aa-a08c-4027-9315-b8d866819a6c.png" alt="drawing" width="700"/>

---

<p style="font-size: 30px; font-weight: 700; margin-bottom: 3rem; color:#2889CC">순서가 있는 데이터 구조</p>

# 문자열(String)

> 변경할 수 없고(immutable), 순서가 있고(ordered), 순회 가능한(iterable)

참고 : [문자열의 다양한 조작법(method)](https://docs.python.org/ko/3/library/stdtypes.html#string-methods)

## 조회/탐색

### `.find(x)` 

x의 **첫 번째 위치**를 반환합니다. 만일 문자열내에 x가 없으면, `-1`을 반환합니다.

In [3]:
a = 'apple'

In [5]:
# find 메서드로 a 문자열에 'p'가 있는지 찾아봅시다.
a.find('p')

1

In [7]:
# find 메서드로 a 문자열에 'z'가 있는지 찾아봅시다.
a.find('z')

-1

### `.index(x)`

x의 **첫 번째 위치**를 반환합니다. 만일 x가 리스트 내에 없으면, 오류가 발생합니다.

In [ ]:
a = 'apple'

In [8]:
# index 메서드는 찾고자 하는 문자가 문자열 내에 있을 경우, 첫 번째 위치를 반환합니다.
# index 메서드로 a 문자열에서 'p'의 위치를 확인해봅시다.
a.index('p')

1

In [9]:
# 찾고자 하는 문자가 문자열 내에 없을 경우, 오류가 발생합니다.
# index 메서드로 a문자열에서 'z'의 위치를 찾고, 오류를 확인해봅시다.
a.index('z')

ValueError: substring not found

### `.startswith(x)`, `/.endswith(x)`

- `.startswith(x)` : 문자열이 x로 시작하면 True를 반환하고 아니면 False를 반환합니다.
- `.endswith(x)` : 문자열이 x로 끝나면 True를 반환하고 아니면 False를 반환합니다.

[PEP8 파이썬 스타일 가이드](https://www.python.org/dev/peps/pep-0008/)에서는 접두/접미 문자를 검색 시,
화이트 스페이스나 인코딩 문제를 피하기 위해 문자열 분할보다 **startswith, endswith**를 권장합니다.

```
Use ''.startswith() and ''.endswith() instead of string slicing to check for prefixes or suffixes.

startswith() and endswith() are cleaner and less error prone:

# Correct:
if foo.startswith('bar'):
# Wrong:
if foo[:3] == 'bar':
```

In [11]:
a = 'hello python!'

In [13]:
# startwith 메서드를 통해 접두문자가 'hello'인지 확인해봅시다.
a.startswith('hello')

True

In [15]:
'01012345678'.startswith('010')

True

### 기타 문자열 관련 검증 메서드

`is~` 로 시작하는 많은 메서드들은 문자열이 어떠한 조건에 해당하는지 검증하는 역할을 합니다.

- `.isalpha()` : 문자열이 (숫자가 아닌)글자로 이루어져 있는가?
-  `.isspace()` : 문자열이 공백으로 이루어져 있는가?
-  `.isupper()` : 문자열이 대문자로 이루어져 있는가?
-  `.istitle()` : 문자열이 타이틀 형식으로 이루어져 있는가?
-  `.islower()` : 문자열이 소문자로 이루어져 있는가?

등

**숫자 판별 메서드**
- `.isdecimal()`: 문자열이 0~9까지의 수로 이루어져 있는가?
- `.isdigit()`: 문자열이 숫자로 이루어져 있는가?
- `.isnumeric()`: 문자열을 수로 볼 수 있는가?


| isdecimal() | isdigit() | isnumeric() |          Example               |
|:-----------:|:-----------:|:-----------:|:----------------------------------:|
|    True     |    True   |    True     | "038", "੦੩੮", "０３８"             |
|  False      |    True   |    True     | "⁰³⁸", "🄀⒊⒏", "⓪③⑧"          |
|  False      |  False    |    True     | "↉⅛⅘", "ⅠⅢⅧ", "⑩⑬㊿", "壹貳參"   |
|  False      |  False    |  False      | "abc", "38.0", "-38"             |

In [19]:
a = '    n'
b = '\n \t '

In [21]:
# isspace 메서드를 통해 a, b가 공백으로 이루어져 있는지 확인해봅시다.
a.isspace()
b.isspace()

True

In [22]:
a = '파이썬'
b = 'python'
c = 'python 3.9.9'

In [26]:
# isalpha 메서드를 통해 문자열 a, b, c에 대한 알파벳 여부를 확인해봅시다.
a.isalpha()
b.isalpha()
c.isalpha()

False

## 문자열 변경

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다.

count를 지정하면 해당 갯수만큼만 시행합니다.

> **(참고)** 메서드 설명에서 `[]` 표기는 해당 parameter가 선택적임을 나타냅니다.

In [27]:
a = 'yaya!'
b = 'wooooowoo'

In [30]:
# replace 메서드를 통해 a의 글자 y를 h로 변경해봅시다.
print(a.replace('y', 'h'))
print(a)

haha!
yaya!

In [33]:
# replace 메서드를 통해 b의 글자 o 2개를 _로 변경해봅시다.
b.replace('o', '_', 2)

'w__ooowoo'

### `.strip([chars])`

특정한 문자들을 지정하면, 양쪽을 제거하거나(`strip`) 왼쪽을 제거하거나(`lstrip`), 오른쪽을 제거합니다(`rstrip`).

`chars` 파라미터를 지정하지 않으면 공백을 제거합니다.

In [47]:
a = '   hello!  \n'
b = 'hihihihahahahihi'
c = 'monty python'

In [38]:
# strip 메서드로 a의 양쪽 공백을 제거해봅시다.
a.strip()

'hello!'

In [39]:
# lstrip 메서드로 a의 왼쪽 공백을 제거해봅시다.
a.lstrip()

'hello!  \n'

In [42]:
# rstrip 메서드로 b의 오른쪽에서부터 글자 hi를 제거해봅시다.
b.rstrip('hi')

'hihihihahaha'

In [49]:
# `chars` 파라미터를 지정한 경우, 모든 조합을 이용하여 제거합니다.
# rstrip 메서드로 c의 오른쪽에서부터 글자 ' python'을 제거해봅시다.
c.rstrip(' python')

'm'

### `.split([chars])`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [50]:
a = 'a_b_c'

In [51]:
# split 메서드로 _를 기준으로 문자열을 나누어 리스트로 반환해봅시다.
a.split('_')

['a', 'b', 'c']

In [52]:
# 사용자의 입력값을 받아 i에 저장합니다.
# 입력받은 문자열을 split 메서드로 공백을 기준으로 나누어 리스트로 반환해봅시다.

s = input()
s.split()

 1 2 3

['1', '2', '3']

In [56]:
# 모두 붙어있는 문자열을 리스트로 만드려면? 

# '1234'.split('')  # => Nope
list('1234')

['1', '2', '3', '4']

### `'separator'.join(iterable)`
iterable 의 문자열들을 separator(구분자)로 이어 붙인(`join()`) 문자열을 반환합니다.

다른 메서드들과 달리, <u>**구분자**</u>가 join 메서드를 제공하는 문자열입니다.

In [57]:
word = '배고파'
words = ['안녕', 'hello']

In [58]:
# join 메서드로 word의 문자열 사이에 !를 넣은 결과를 반환해봅시다.
'!'.join(word)

'배!고!파'

In [67]:
# join 메서드로 words의 문자들을 하나로 합친 결과를 반환해봅시다.
''.join(words)

'안녕hello'

In [61]:
# 다 붙어있는 문자열을 리스트로 바꾸려면 list()
list('1234')

['1', '2', '3', '4']

### `.capitalize()`, `.title()`, `.upper()`

* `.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

* `.title()` : 어포스트로피(*'*)나 공백 이후를 대문자로 만들어 반환합니다.

* `.upper()` : 모두 대문자로 만들어 반환합니다.

In [68]:
a = 'hI! Everyone, I\'m kim'

In [69]:
# capitalize 메서드로 a의 앞글자를 대문자로 만들어 반환해봅시다.
a.capitalize()

"Hi! everyone, i'm kim"

In [70]:
# title 메서드로 a의 각각의 단어 앞글자를 대문자로 만들어 반환해봅시다.
a.title()

"Hi! Everyone, I'M Kim"

In [71]:
# upper 메서드로 a를 모두 대문자로 만들어 반환해봅시다.
a.upper()

"HI! EVERYONE, I'M KIM"

In [74]:
# print 함수로 a를 출력하여 원본 데이터를 확인해봅시다.
a

"hI! Everyone, I'm kim"

### `.lower()`, `.swapcase()`

* `lower()` : 모두 소문자로 만들어 반환합니다.

* `swapcase()` : 대 <-> 소문자로 변경하여 반환합니다.

In [75]:
a = 'hI! Everyone, I\'m kim'

In [76]:
# lower 메서드로 a을 모두 소문자로 만들어 반환해봅시다.
a.lower()

"hi! everyone, i'm kim"

In [77]:
# swapcase 메서드로 a의 대소문자를 서로 변경하여 반환해봅시다.
a.swapcase()

"Hi! eVERYONE, i'M KIM"

In [78]:
# print 함수로 a를 출력하여 원본데이터를 확인해봅시다.
a

"hI! Everyone, I'm kim"

## 문자열 메서드 모두 확인하기
파이썬 내장함수 dir을 통해 컨테이너가 가지고 있는 메서드를 확인할 수 있습니다.

In [79]:
# dir 함수로 문자열이 가지고 있는 attribute & method를 확인할 수 있습니다.

dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

---

# 리스트(List)

> 변경 가능하고(mutable), 순서가 있고(ordered), 순회 가능한(iterable)

![image](https://user-images.githubusercontent.com/90173310/148152798-e42f9525-2eef-4bf7-bf0b-6031a0913693.png)

## 값 추가 및 삭제 => 원본 변경

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

`a[len(a):] = [x]` 와 동일합니다.

In [81]:
cafe = ['starbucks', 'tomntoms', 'hollys']

In [ ]:
# append 메서드로 cafe에 banapresso를 추가해봅시다.

In [82]:
cafe.append('bana')

In [83]:
cafe

['starbucks', 'tomntoms', 'hollys', 'bana']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string) 값을 붙일 수가 있습니다.

`a[len(a):] = iterable` 와 동일합니다.

In [84]:
# extend 메서드로 cafe에 ['wcafe', '빽다방']를 추가해봅시다.
cafe.extend(['wcafe', '빽다방'])

In [85]:
cafe

['starbucks', 'tomntoms', 'hollys', 'bana', 'wcafe', '빽다방']

In [ ]:
# += 연산자로 cafe에 ['mc_cafe', 'droptop']를 추가해봅시다.
# 앞서 배운 list concatenate와 동일합니다.

In [88]:
cafe += ['mc_cafe', 'droptop']

cafe

['starbucks',
 'tomntoms',
 'hollys',
 'bana',
 'wcafe',
 '빽다방',
 'mc_cafe',
 'droptop']

In [89]:
# append vs extend
# append 메서드로 cafe에 ['coffeenie']를 추가해봅시다.

cafe.append(['coffeenie'])
cafe

['starbucks',
 'tomntoms',
 'hollys',
 'bana',
 'wcafe',
 '빽다방',
 'mc_cafe',
 'droptop',
 ['coffeenie']]

In [91]:
# append vs extend
# extend 메서드로 cafe에 ['twosome_place']를 추가해봅시다.
cafe.extend(['twosome'])
cafe

['starbucks',
 'tomntoms',
 'hollys',
 'bana',
 'wcafe',
 '빽다방',
 'mc_cafe',
 'droptop',
 ['coffeenie'],
 'twosome',
 'twosome']

In [92]:
# extend 메서드로 cafe에 문자열 ediya를 추가해봅시다.
cafe.extend('ediya')

In [93]:
cafe

['starbucks',
 'tomntoms',
 'hollys',
 'bana',
 'wcafe',
 '빽다방',
 'mc_cafe',
 'droptop',
 ['coffeenie'],
 'twosome',
 'twosome',
 'e',
 'd',
 'i',
 'y',
 'a']

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [94]:
# insert 메서드로 cafe 첫번째에 문자열 start를 넣어봅시다.
cafe.insert(0, 'start')

In [231]:
cafe[len(cafe):]

[]

In [98]:
# insert 메서드로 cafe 마지막에 문자열 end를 넣어봅시다.
# 마지막 위치는 len함수를 이용합니다.  => 걍 append 쓰기
cafe.insert(len(cafe), 'end')
cafe

['start',
 'starbucks',
 'tomntoms',
 'hollys',
 'bana',
 'wcafe',
 '빽다방',
 'mc_cafe',
 'droptop',
 ['coffeenie'],
 'twosome',
 'twosome',
 'e',
 'd',
 'i',
 'y',
 'end',
 'end',
 'a',
 'end']

In [99]:
# insert 메서드로 cafe 길이보다 큰 인덱스에 문자열 !를 넣어봅시다.
# 리스트의 길이를 넘어서는 인덱스는 마지막에 아이템이 추가됩니다.
cafe.insert(10000000, '!')
cafe

['start',
 'starbucks',
 'tomntoms',
 'hollys',
 'bana',
 'wcafe',
 '빽다방',
 'mc_cafe',
 'droptop',
 ['coffeenie'],
 'twosome',
 'twosome',
 'e',
 'd',
 'i',
 'y',
 'end',
 'end',
 'a',
 'end',
 '!']

In [ ]:
# a.insert(0, x)는 리스트의 처음에 x를 삽입하고,
# a.insert(len(a), x) 는 a.append(x) 와 같습니다.

### `.remove(x)`

리스트에서 값이 x인 첫번째 항목을 삭제합니다.

만일 그런 항목이 없으면 `ValueError`가 발생합니다.

In [100]:
numbers = [1, 2, 3, 1, 2]

In [101]:
# remove 메서드로 1을 삭제 해봅시다.
numbers.remove(1)
numbers

[2, 3, 1, 2]

In [102]:
# remove 메서드로 1을 한 번 더 삭제 해봅시다.
numbers.remove(1)
numbers

[2, 3, 2]

In [103]:
# remove는 값이 없으면 오류가 발생합니다.
# remove 메서드로 1을 한 번 더 삭제하여, 확인해봅시다.
numbers.remove(1)
numbers

ValueError: list.remove(x): x not in list

### `.pop([i])` => 삭제되는 값을 `return`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [104]:
numbers = [1, 2, 3, 4, 5, 6]

In [105]:
# pop 메서드로 가장 앞에 있는 숫자를 삭제해봅시다.
# 삭제후 numbers를 출력해봅시다.
print(numbers.pop(0))

1
[2, 3, 4, 5, 6]

In [106]:
print(numbers)

[2, 3, 4, 5, 6]

In [107]:
# pop 메서드로 가장 마지막에 있는 숫자를 삭제하고 결과를 a에 저장합니다.
# 삭제된 숫자와 결과를 모두 출력해봅시다.

numbers.pop()

6

In [108]:
numbers

[2, 3, 4, 5]

### `.clear()`

리스트의 모든 항목을 삭제합니다.

In [109]:
numbers = [1, 2, 3, 4, 5, 6]

In [110]:
# clear 메서드로 리스트의 모든 항목을 삭제합니다.
numbers.clear()

In [111]:
numbers

[]

In [112]:
a = [1, 2, 3]
print(id(a))
a.clear()
print(id(a))

a = [1, 2, 3]
print(id(a))
a = []
print(id(a))

2309212088832
2309212088832
2309212106816
2309212106624

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [113]:
a = [1, 2, 3, 4, 5]

In [117]:
# index 메서드로 숫자 3이 있는 위치를 반환합니다.
a.index(3)

2

In [118]:
# index는 찾는 값이 없으면 오류가 발생합니다.
# index 메서드로 숫자 100이 있는 위치를 확인해봅시다.
a.index(100)

ValueError: 100 is not in list

### `.count(x)`

원하는 값의 개수를 반환합니다.

In [125]:
a = [1, 2, 5, 1, 5, 1]

In [126]:
# count 메서드로 1의 개수를 확인해봅시다.
a.count(1)

3

In [127]:
# 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
for _ in range(a.count(1)):
    a.remove(1)

a

[2, 5, 5]

### `.sort()`

리스트를 정렬합니다.

내장함수 `sorted()` 와는 다르게 **원본 list를 변형**시키고, **`None`**을 리턴합니다.

파라미터로는 `key`와 `reverse`가 있습니다.

In [135]:
# lotto에 1부터 45 까지의 숫자가 들어있는 리스트를 저장합니다.
# 6개의 숫자를 랜덤으로 저장합니다.
import random

lotto = list(range(1, 45))
lucky = random.sample(lotto, 6)

In [136]:
# sort 메서드로 리스트를 정렬합니다.
# sort 메서드를 실행한 결과와 원본을 각각 출력해봅니다.
lucky.sort()  # return None
lucky

[3, 6, 14, 29, 38, 40]

In [142]:
# sort 메서드의 reverse옵션을 이용하여 역순 정렬합니다.
lucky.sort(reverse=True)
lucky

[40, 38, 29, 14, 6, 3]

In [ ]:
# sorted 함수를 사용한 결과와 비교해봅시다.

In [144]:
nums = [5, 3, 4, 2, 1]
sorted(nums)
nums

[5, 3, 4, 2, 1]

In [153]:
students = [
    { 'id': 1, 'name': 'john', 'balance': 200 },
    { 'id': 2, 'name': 'ashley', 'balance': 400 },
    { 'id': 3, 'name': 'david', 'balance': 300 },
    { 'id': 4, 'name': 'lee', 'balance': 500 },
]

def get_balance(student):
    return student['balance']

students.sort(key=get_balance)
students.sort(key=lambda student: student['balance'], reverse=True)

students

[{'id': 4, 'name': 'lee', 'balance': 500},
 {'id': 2, 'name': 'ashley', 'balance': 400},
 {'id': 3, 'name': 'david', 'balance': 300},
 {'id': 1, 'name': 'john', 'balance': 200}]

### `.reverse()`

리스트의 element들을 제자리에서 반대로 뒤집습니다.
정렬하는 것이 아닌 원본 순서를 뒤집고 수정합니다.

내장함수 `reversed()` 와는 다르게 **원본 list를 변형**시키고, **`None`**을 리턴합니다.

sort와 마찬가지로, 파라미터 `key`와 `reverse`가 있습니다.

In [154]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [ ]:
# reverse 메서드로 리스트를 역순으로 만들어줍니다.

In [157]:
classroom.reverse()
classroom

['Justin', 'David', 'Tom']

## 리스트 메서드 모두 확인하기
파이썬 내장함수 dir을 통해 컨테이너가 가지고 있는 메서드를 확인할 수 있습니다.

In [159]:
# dir 함수로 리스트가 가지고 있는 메서드를 확인할 수 있습니다.
help([]) # dir([])

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

---

# 튜플(tuple)

> 변경할 수 없는 불변(Immutable) 자료형

![image](https://user-images.githubusercontent.com/90173310/148331867-25aba08c-d76b-4bf0-a7d3-106db29d2db2.png)

- 값을 변경할 수 없기 때문에 값에 영향을 미치지 않는 메서드만을 지원합니다.

In [160]:
# 튜플은 불변자료형이기 때문에 값을 변경하는 메서드가 없습니다.
# append를 통해 'tuple'을 추가하여 어떤 오류가 나타나는지 확인해봅시다.

t = ()
t.append(1)

AttributeError: 'tuple' object has no attribute 'append'

## 탐색
### `.index(x[, start[, end]])`

튜플에 있는 항목 중 값이 x 와 같은 첫 번째 인덱스를 돌려줍니다.

해당하는 값이 없으면, ValueError를 발생합니다.

In [161]:
a = ('hello','python','python','django','web')

In [163]:
# python이 가장 처음 나타난 위치를 확인하세요.
a.index('python')

1

In [164]:
# index는 찾는 값이 없으면 오류가 발생합니다.
# index 메서드로 algorithm의 위치를 확인하세요.
a.index('algo')

ValueError: tuple.index(x): x not in tuple

### `.count(x)`
튜플에서 x 가 등장하는 횟수를 돌려줍니다.

In [165]:
# count 메서드를 통해 a의 요소들 중 python의 갯수를 확인하세요.
a.count('python')

2

---

<p style="font-size: 30px; font-weight: 700; margin-bottom: 3rem; color:#2889CC">순서가 없는 데이터 구조</p>

- 알고리즘에 빈번히 활용되는 순서가 없는(unordered) 데이터 구조
    - 셋(Set)
    - 딕셔너리(Dictionary)

# 셋(Set)

> 변경 가능하고(mutable), 순서가 없고(unordered), 순회 가능한(iterable)

![image](https://user-images.githubusercontent.com/90173310/148152940-d5feff4f-f950-4e58-87ab-fcdedba7e825.png)

## 추가 및 삭제

### `.add(elem)`
elem을 셋(set)에 추가합니다.

In [167]:
a = {'사과', '바나나', '수박'}

In [178]:
# add 메서드로 셋(set) a에 '포도'를 각각 2번 작성한 이후 셋(set) a를 출력해봅시다.
a.add('포도')
a.add('포도')
a

{'바나나', '사과', '수박', '포도'}

### `.update(*others)`

여러 값을 추가합니다.

반드시 iterable 데이터 구조를 전달해야합니다.

In [ ]:
a = {'사과', '바나나', '수박'}

In [180]:
# update 메서드로 셋(set) a에
# {'토마토', '토마토', '딸기'}와 {'포도', '레몬'}을 동시에 update후, a를 출력해봅시다.
a.update({'토마토', '토마토', '딸기'}, {'포도', '레몬'})
a

{'딸기', '레몬', '바나나', '사과', '수박', '토마토', '포도'}

### `.remove(elem)`

elem을 셋(set)에서 삭제하고, 셋(set) 내에 elem이 존재하지 않으면 KeyError가 발생합니다.

In [186]:
a = {'사과', '바나나', '수박'}

In [187]:
# remove 메서드는 셋(set) 내에 elem 없는 경우, 오류를 발생시킵니다.
# a에서 '애플'을 remove하여 오류를 확인해봅시다.
a.remove('사과')
a.remove('apple')

KeyError: 'apple'

### `.discard(elem)`
`elem`을 셋(set)에서 삭제합니다.

remove와 다른 점은 elem이 셋(set) 내에 존재하지 않아도, 에러가 발생하지 않는다는 점입니다.

In [191]:
a = {'사과', '바나나', '수박'}

In [192]:
# a에 '포도'와 '수박'을 각각 discard한 이후 셋(set) a를 출력해봅시다.
a.discard('포도')
a.discard('수박')
a

{'바나나', '사과'}

## 셋(set) 메서드 모두 확인하기
파이썬 내장함수 dir을 통해 컨테이너가 가지고 있는 메서드를 확인할 수 있습니다.

In [193]:
# dir 함수로 셋(set)이 가지고 있는 메서드를 확인할 수 있습니다.
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

---

# 딕셔너리(Dictionary)

> 변경 가능하고(mutable), 순서가 없고(unordered), 순회 가능한(iterable)
>
> `Key: Value` 페어(pair)의 자료구조

![image](https://user-images.githubusercontent.com/90173310/148152976-8565e877-2343-4364-97b5-7ad4efd73992.png)

## 조회

### `.get(key[, default])`

key를 통해 value를 가져옵니다.

key가 존재하지 않을 경우 None을 반환합니다.
<u>KeyError가 발생하지 않습니다.</u>

In [210]:
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [195]:
# get 메서드 없이 딕셔너리 my_dict의 key 'pineapple'의 value를 출력하는 코드를 실행시켜 오류를 확인해봅시다.
my_dict['pineapple']

KeyError: 'pineapple'

In [196]:
# get 메서드로 딕셔너리 my_dict의 key 'pineapple'의 value를 출력해봅시다.
my_dict.get('pineapple')

In [202]:
# get 메서드로 딕셔너리 my_dict의 key 'apple'의 value를 출력해봅시다.
my_dict.get('apple', 0)

'사과'

In [201]:
# get 메서드로 딕셔너리 my_dict의 key 'pineapple'의 value를 출력해봅시다.
# 단, key가 없다면 0을 반환하도록 해봅시다.
my_dict.get('pine', 0)

0

### `.setdefault(key[, default])`
`dict.get()` 메서드와 비슷한 동작을 하는 메서드로, key가 딕셔너리에 있으면 value를 돌려줍니다.

get과 다른 점은 key가 딕셔너리에 없을 경우, default 값을 갖는 key 를 삽입한 후 default 를 반환한다는 점입니다. 만일 default가 주어지지 않을 경우, None 을 돌려줍니다.

In [203]:
# setdefault 메서드로 딕셔너리 my_dict의 key 'apple'의 value를 가져와서 출력해봅시다.
my_dict.setdefault('apple')

'사과'

In [211]:
# setdefault 메서드를 통해 딕셔너리 my_dict의 key 'pineapple'의 value를 가져와서 출력해봅시다.
# 만일 pineapple이 없을 경우, '파인애플'을 출력하도록 합니다.
my_dict.setdefault('pineapple', '파인애플')  # key 있으면 value 반환 / 없으면 두번째 값으로 추가

'파인애플'

In [212]:
# my_dict를 출력해봅시다.
print(my_dict)

{'apple': '사과', 'banana': '바나나', 'melon': '멜론', 'pineapple': '파인애플'}

In [216]:
bank_db = {
    'yu': 300,
    'jack': 200,
    'justin': 400,
}

newbies = ['john', 'lee', 'jun', 'yu', 'jack', 'justin']

for newbie in newbies:
    # print(bank_db[newbie])
    # print(bank_db.get(newbie))
    print(bank_db.setdefault(newbie, 0))
    # 위와 같음
    if not bank_db.get(newbie):
        bank_db[newbie] = 0

print(bank_db)

0
0
0
300
200
400
{'yu': 300, 'jack': 200, 'justin': 400, 'john': 0, 'lee': 0, 'jun': 0}

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 해당 key가 딕셔너리에 경우, KeyError가 발생합니다.

In [217]:
my_dict = {'apple': '사과', 'banana': '바나나'}

In [218]:
# pop 메서드로 딕셔너리 my_dict의 key 'apple'을 제거해봅시다.
# 제거 후, 딕셔너리 my_dict를 출력해봅시다.
my_dict.pop('apple')

'사과'

In [219]:
my_dict

{'banana': '바나나'}

In [220]:
# 제거하고자 하는 key가 딕셔너리에 없으면 KeyError가 발생합니다.
# 실행시켜 오류를 확인해봅시다.
my_dict.pop('pear')

KeyError: 'pear'

In [221]:
# pop 메서드의 두번째 인자로 default 값을 설정 해 KeyError가 발생하지 않도록 할 수 있습니다.
# pop 메서드로 딕셔너리 my_dict의 key 'melon'을 제거하고 해당 key가 없다면 0을 반환하도록 해봅시다.

my_dict.pop('pear', '없다..')

'없다..'

### `.update([other])`
other 가 제공하는 key,value 쌍으로 딕셔너리를 덮어씁니다.
`other` 는 다른 딕셔너리나 key/value 쌍으로 되어있는 모든 iterable을 사용 가능합니다.

- `keyword argument`로 업데이트 하는 방법
    - 키워드 인자가 지정되면, 딕셔너리는 그 key/value 쌍으로 갱신됩니다.

In [222]:
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [223]:
# 딕셔너리 my_dict의 key가 'apple'일 때, value를 '사과아'로 업데이트해봅시다.
# update 메서드와 keyword argument를 이용하여 작성하세요.

my_dict.update({'apple': '아이폰'})

In [224]:
# my_dict를 출력해봅시다.
my_dict

{'apple': '아이폰', 'banana': '바나나', 'melon': '멜론'}

In [225]:
# 딕셔너리를 사용하여 여러 key/value를 my_dict를 업데이트할 수 있습니다.
# key 'mango'와 value '망고'의 쌍과 key 'watermelon'과 '수박'의 쌍을 가지는 딕셔너리 d를 만들고,
# update 메서드를 사용하여 my_dict에 d 값을 업데이트해봅시다.
my_dict.update({'mango': '망고', 'watermelon': '수박'})

In [226]:
# 딕셔너리 my_dict를 출력해봅시다.
my_dict

{'apple': '아이폰',
 'banana': '바나나',
 'melon': '멜론',
 'mango': '망고',
 'watermelon': '수박'}

In [228]:
for k, v in my_dict.items():
    print(k, v)

apple 아이폰
banana 바나나
melon 멜론
mango 망고
watermelon 수박

## 딕셔너리 메서드 모두 확인하기
파이썬 내장함수 dir을 통해 컨테이너가 가지고 있는 메서드를 확인할 수 있습니다.

In [229]:
# dir 함수로 딕셔너리가 가지고 있는 메서드를 확인할 수 있습니다.
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

---

# 얕은 복사와 깊은 복사

## 데이터 분류
**데이터의 분류**에 따라 복사가 달라집니다.
데이터는 크게 변경 가능한 것(`mutable`)들과 변경 불가능한 것(`immutable`)으로 나뉘며, python은 각각을 다르게 다룹니다. 먼저 변경 불가능한 데이터를 살펴보겠습니다.

### 변경 불가능한(`immutable`) 데이터
* 리터럴(literal)

    - 숫자(Number)
    - 글자(String)
    - 참/거짓(Bool)

* `range()`

* `tuple()`

* `frozenset()`

In [233]:
# value type 데이터의 복사는 어떻게 이루어지는지 확인해봅시다.
a = 20
b = a

print(a)
print(b)

20
20

<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=a%20%3D%2020%0Ab%20%3D%20a%0Ab%20%3D%2010%0A%0Aprint%28a%29%0Aprint%28b%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

### 변경 가능한(`mutable`) 데이터

- `list`
- `dict`
- `set`

In [ ]:
# mutable 데이터의 복사는 어떻게 이루어지는지 확인해봅시다.

<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=a%20%3D%20%5B1,%202,%203,%204%5D%0Ab%20%3D%20a%0Ab%5B0%5D%20%3D%20100%0A%0Aprint%28a%29%0Aprint%28b%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

**복사 방법**

파이썬에서 데이터를 복사하는 방법은 크게, 세 가지로 나뉩니다.
> - 할당 (Assignment)
> - 얕은 복사 (Shallow copy)
> - 깊은 복사 (Deep copy)

## 할당
먼저 할당을 확인해 보겠습니다.

In [234]:
# original_list에 [1, 2, 3]을 저장합니다.
original = [1, 2, 3]

In [236]:
# 할당연산자(=)를 사용하여,
# copy_list에 original_list를 저장하고 출력합니다.
copy = original

In [238]:
# copy_list의 첫 번째 값을 5로 바꾸고 original_list를 출력해봅시다.
copy[0] = 5
print(copy, original)

[5, 2, 3] [5, 2, 3]

In [239]:
# copy_list, original_list 각각의 id 값을
# == 연산자로 비교해봅시다.
id(copy), id(original)

(2309212396480, 2309212396480)

변수만 복사하다 보니 바라보는 객체는 당연히 동일합니다.
<img src="https://user-images.githubusercontent.com/90173310/148327067-47a35f83-51a4-4c49-be1d-d5b40ece54df.png
" alt="drawing" width="400"/>

즉, 두개의 중 하나만 변경되어도 나머지 하나도 동일하게 수정되는 현상이 발생하게 됩니다.

## 얕은 복사(Shallow copy)

### slice 연산자 사용 `[:]`

mutable 데이터 중 하나인 리스트를 예로 들어봅시다.
리스트를 슬라이싱하여 할당 시, 새로운 id가 부여되며, 서로 영향을 받지 않습니다.

In [240]:
a = [1, 2, 3]

In [249]:
# slice 연산자로 리스트 a의 모든 요소를 b에 저장합니다.
# 리스트 b의 첫 번째 값을 5로 바꾸고 리스트 a를 출력합니다.
# slice 연산자를 활용하면 새로운 리스트를 저장할 수 있습니다.

b = a[:]
id(a), id(b)

a[0] = 5
a, b

([5, 2, 3], [1, 2, 3])

### `list()` 활용

In [251]:
a = [1, 2, 3]

In [252]:
# list 함수로 리스트 a를 복사하여 b에 저장합니다.
# 리스트 b의 첫 번째 값을 5로 바꾸고 리스트 a를 출력합니다.

b = list(a)
a[0] = 5
a, b

([5, 2, 3], [1, 2, 3])

### `.copy()` 활용

In [254]:
a = [1, 2, 3]
b = a.copy()
a[0] = 10
a, b

([10, 2, 3], [1, 2, 3])

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 `얕은 복사(shallow copy)`입니다.

2차원 리스트와 같이 mutable 객체 안에 mutable 객체가 있는 경우 문제가 됩니다. 아래 예시를 통해 확인해봅시다.

In [255]:
a = [1, 2, [1, 2]]

In [256]:
# slice 연산자로 리스트 a의 모든 요소를 b에 저장합니다.
# 리스트 b의 index 2의 첫 번째 값을 5로 바꾸고 리스트 a와 b의 id와 그 값을 출력해봅시다.
b = a[:]

b[2][0] = 5

print(a, b)

[1, 2, [5, 2]] [1, 2, [5, 2]]

a와 b의 id는 다르다는 것을 확인하였지만, 내부 값은 영향을 받게 되었습니다.
<img src="https://user-images.githubusercontent.com/90173310/148327165-e695ed56-d0c0-4916-94e5-a0564aebf0a6.png" alt="drawing" width="400"/>

내부의 객체 `id(a[2])`과 `id(b[2])`은 같은 주소를 바라보고 있기 때문입니다.

In [258]:
# id 함수를 통해 a[2]와 b[2]가 서로 같은 주소를 바라보고 있는지 확인하고 이를 출력해봅시다.

id(a[2]), id(b[2])

(2309210777216, 2309210777216)

## 깊은 복사(Deep copy)

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야 합니다. 
* 깊은 복사는 새로운 객체를 만들고 원본 객체 내에 있는 객체에 대한 복사를 재귀적으로 삽입합니다.
* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경되게 됩니다.

In [259]:
# 내부에 있는 리스트까지 복사를 하기 위해서 copy 모듈을 활용합니다.
import copy

a = [1, 2, [1, 2]]
b = copy.deepcopy(a)
a, b

([1, 2, [1, 2]], [1, 2, [1, 2]])

In [15]:
cafe = ['starbucks', 'coffeebean']

x = cafe[:]
x += ['a', 'b']

cafe[len(cafe):] += ['mc_cafe', 'droptop']
cafe

['starbucks', 'coffeebean', 'mc_cafe', 'droptop']